/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  font-family: var(--main-font);
  font-size: 18px;
}

.corner-appearance {
  position: relative;
}

.corner-appearance::before {
  top: var(--section-padding);
  right: var(--section-padding);
  border-top: var(--corner-line) solid var(--decor-color);
  border-right: var(--corner-line) solid var(--decor-color);
}

.corner-appearance::after {
  bottom: var(--section-padding);
  left: var(--section-padding);
  border-bottom: var(--corner-line) solid var(--decor-color);
  border-left: var(--corner-line) solid var(--decor-color);
}

.corner-appearance::before,
.corner-appearance::after {
  content: "";
  position: absolute;
  width: var(--corner-size);
  height: var(--corner-size);
}

.title-appearance {
  color: var(--title-text-color);
  background-color: var(--title-bg-color);
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--section-padding);
  min-height: var(--header-min-height);
  height: 100vh;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.header__introduction {
  align-self: center;
  font-weight: 700;
  line-height: 23.4px;
}

.header__rec {
  position: absolute;
  top: var(--section-padding);
  right: 38px;
  color: var(--accent-color);
  line-height: 25px;
}

.header__rec::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--rec-shadow-color);
  width: var(--rec-point-size);
  height: var(--rec-point-size);
  top: 8px;
  left: calc(100% + 10px);
}

.header__theme-menu {
  align-self: start;
  justify-self: end;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-text-color);
  background-color: transparent;
  line-height: 1;
  text-transform: lowercase;
  border: 1px solid transparent;
  padding: 1px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.content {
  display: grid;
  padding: 40px var(--section-padding);
  gap: 50px;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.content__link:hover {
  border-bottom: 1px solid currentColor;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: currentColor solid var(--focus-outline-width);
}

.content__section {
  display: grid;
  gap: var(--section-gap);
}

.content__section-title {
  color: var(--title-section-color);
  font-size: inherit;
  line-height: 23.4px;
}

.content__section-body {
  display: grid;
  gap: var(--card-gap);
}

.content__section_body_cards {
  gap: var(--card-gap);
}

.content__card {
  display: grid;
  gap: var(--text-gap);
}

.content__card-title {
  font-size: inherit;
  font-weight: 700;
  line-height: 23.4px;
}

.content__card-title-regular {
  font-weight: 400;
}

.content__card-concentration-group {
  display: grid;
  gap: var(--text-gap);
}

.content__card-concentration-text {
  line-height: 23.4px;
}

.content__card-recommendations {
  display: grid;
  gap: 15px;
}

.content__section-recommendations .content__card {
    gap: 15px;
  }

.content-card-recommendation-group {
  display: grid;
  gap: var(--text-gap);
}

.gallery {
  display: grid;
  gap: var(--gallery-gap);
}

.gallery__title {
  font-size: inherit;
  line-height: 23.4px;
}

.gallery__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: var(--footer-min-height);
  padding: var(--section-padding);
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .corner-appearance::before {
    top: 20px;
    right: 20px;
  }

  .corner-appearance::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 48px;
  }

  .header__theme-menu {
    margin-top: 172px;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__introduction {
    justify-self: end;
    width: 50%;
  }

  .content {
    padding: 60px 20px;
    gap: 80px;
  }

  .content__section-main-question {
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }

  .content__section-recommendations {
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }

  .content__section-reasons .content__section-title {
    inline-size: 181px;
}

  .content__section-recommendations .content__card {
    gap: 15px;
  }

  .content__card-recommendations {
    gap: 15px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__title {
    grid-column: 1 / -1;
  }

  .gallery__image-sunset {
    grid-column: 1 / 3;
  }

  .gallery__image-ice-cream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    height: 100%;
  }

  .gallery__image-tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    height: 100%;
  }

  .gallery__image-books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 100%;
  }

  .gallery__image-street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-top: 0;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .content__section-main-question {
    grid-template-columns: 315px 1fr;
  }

  .content__section-recommendations {
    grid-template-columns: 315px 1fr;
  }

  .content__section-reasons {
    gap: var(--section-gap);
  }

  .content__section-reasons .content__section-title {
    inline-size: auto;
    max-inline-size: 315px;
  }

  .content__section-reasons .content__section-body {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    align-items: start;
  }
  .content__section-recommendations .content__card {
    gap: 15px;
  }

  .content__card-recommendations {
    gap: 15px;
  }
}